<div class="flex flex-col h-screen">
  <div class="flex justify-center flex-grow flex-col">
    <div class="flex justify-center items-center m-8">
      <h1 class="text-4xl">A SvelteKit & Windi CSS Static Site</h1>
    </div>
    <div class="flex justify-center mt-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <a href="https://kit.svelte.dev"> SvelteKit </a>
      </button>
    </div>
    <div class="flex justify-center mt-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <a href="https://windicss.org"> Windicss </a>
      </button>
    </div>
  </div>
  <div class="flex justify-center items-center mb-16">
    <h2 class="text-xl">Speed 🚀</h2>
  </div>
</div>

<style>
</style>

<script>
</script>
